.profileCon {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  margin: 20px;
  background-size: cover;
  padding: 20px;
  border-radius: 10px;
}

.profileHeading {
  color: #6366f1;
  font-size: 13px;
}

@media (min-width: 700px) {
  .profileCon {
    width: 80%;
  }
}
